<div id="main">
  <div id="header">
    <div id="logo">
      <div id="logo_text">
        <!-- class="logo_colour", allows you to change the colour of the text -->
        <h3 style="color: #FFFFFF">IFSA</h3>
      </div>
    </div>
    <div id="menubar">
      <ul id="menu">
        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li class="selected"><a href="index.html">Home</a></li>
        <li><a href="examples.html">About Us</a></li>
        <li><a href="page.html">Admission</a></li>
        <li><a href="another_page.html">Student Corner</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div id="site_content">
    <div id="content">
      <!-- insert the page content here -->
      <h1>Welcome to Institute of Fundamental Science & Applications</h1>
      <p>NET-National Eligibility Test, one of the most important examination towards persuing research in India. All the M.Sc. students’ dream to crack this examination and we are here to bring your dream in reality.</p>
      <p>GATE- though it is mainly conducted for admission in M.Tech., but now a days top institutes, like IITs , are also calling GATE qualified students for Ph.D.</p>
      <p>There are lots of differences in NET and GATE exams. You need to take extra care for both the exam separtely, if you wish to appear on both exam.</p>

      <h2>Youtube Video</h2>
      <p>Here one youtube video containing mentor's speech:: </p>
      <!--<ul>
        <li>Internet Explorer 9</li>
        <li>FireFox 25</li>
        <li>Google Chrome 31</li>
      </ul>-->
    </div>
    <div class="sidebar">
      <!-- insert your sidebar items here -->
      <h3>Latest News</h3>
      <h4>New Website Launched</h4>
      <h5>July 1st, 2014</h5>
      <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
      <p></p>
      <h4>New Website Launched</h4>
      <h5>July 1st, 2014</h5>
      <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
      <h3>Important Links</h3>
      <ul>
        <li><a href="#">MIT lecture notes</a></li>
        <li><a href="#">NBHM</a></li>
        <li><a href="#">NPTEL</a></li>
        <li><a href="#">TIFR</a></li>
        <li><a href="#">WBJEE</a></li>
      </ul>
    </div>
  </div>
  <div id="footer">Copyright &copy; ifsa</div>
</div>
